/*CSS for start page*/

h1 {
	color: #ffffff;
	border-bottom-style:solid;
	border-bottom-width:3px;
	border-bottom-color: #ffffff;
	padding-bottom:10px;
	padding-left:10px;	
}

body {
	width:1240px;
	height:1200px;	
	background-image:url(../img/back533-min.jpg);
}

.menu li {
	display:inline;
	border:3px solid #ffffff;
	padding:10px 0px;
	margin:0px 15px;
}

ul {
	padding-left:0px;
}

a {
	padding: 13px 25px;
}

/*Псевдоселекторы ссылок Псевдоселекторы ссылок Псевдоселекторы ссылок Псевдоселекторы ссылок */

a:link {
	text-decoration:none;
	color: #ffffff;
	font-weight:bold;
}

a:visited {
	text-decoration:none;
	color: #ffffff;
	font-weight:bold;
}

a:hover {
	color: #000000;
	font-weight:bold;
	background-color: #ffffff;
}

ul li:hover {
	background-color: #ffffff;
}

li a:active {
	color: #ffffff;
	font-weight:bold;
}
