/*CSS for start page */

h1 {
	font-family:arial;
	color:white;
	border-bottom-style:solid;
	border-bottom-width:2px;
	border-bottom-color:#404040;
	padding-bottom:10px;
	padding-left:10px;
	
}

body {
	background-color: grey;
}
